<div class="container  min-vh-100">
  <div class="d-flex justify-content-between greeting">
    <div class="text-secondary ">
      <a href="" class="text-secondary"> Home </a>
      <span> / </span>
      <a href="" class="text-secondary">  My Account</a>
    </div>
    <div>Hello! <span class="red-text">Rawan</span></div>
  </div>
  <div class="row ">

    <div class="col-md-4 sidebar">
      <h5>Manage My Account</h5>
      <ul class="">
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Address Book</a></li>
        <li><a href="#">My Payment Options</a></li>
      </ul>

      <h5>My Orders</h5>
      <ul class="">
        <li><a href="#">My Returns</a></li>
        <li><a href="#">My Cancellations</a></li>
      </ul>

      <h5>My Wishlist</h5>
    </div>


    <div class="col-md-8 profile-section shadow-sm p-5 mb-5 bg-body-light rounded">
      <h5 class="red-text">Edit Your Profile</h5>
      <form class=" ">
      <div class="d-flex justify-content-between">
        <div class="form-group  col-md-5">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" class="form-control" placeholder="Rawan">
        </div>

        <div class="form-group  col-md-5">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" class="form-control" placeholder="Ahmed">
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="form-group col-6 col-md-5">
          <label for="email">Email</label>
          <input type="email"  class="form-control" placeholder="RawanAhmed@gmail.com">
        </div>

        <div class=" form-group col-12 col-md-5">
          <label for="phone">Phone</label>
          <input type="text "class="form-control" placeholder="01234567896">
        </div>
      </div>

        <button type="button" class="button ">Save Changes</button>
      </form>


      <h5 class="">Password Changes</h5>
      <form>
        <div class="form-group">

          <input type="password"  class="form-control" placeholder="Enter Current Password">
        </div>

        <div class="form-group">

          <input type="password"  class="form-control" placeholder="Enter New Password">
        </div>

        <div class="form-group">

          <input type="password" class="form-control" placeholder="Confirm New Password">
        </div>

        <button type="button" class="button ">Save Changes</button>
      </form>
    </div>
  </div>
</div>



























