<!-- <div class="container mt-5">
  <div class="row">

    <div class="col-md-3">
      <div class="image-thumbnail mb-3" *ngFor="let image of images; let i = index">
        <img
          src="{{ image }}"
          alt="Gamepad view"
          class="img-thumbnail"
          (click)="selectImage(i)"
          [ngClass]="{'active-thumbnail': selectedImage === i}"
        />
      </div>
    </div>


    <div class="col-md-6">
      <img
        [src]="images[selectedImage]"
        alt="Main gamepad"
        class="img-fluid main-image"
      />
    </div>

    <div class="col-md-3">
      <h3>{{details.name}}</h3>
      <p class="price">{{details.price}} $</p>
      <p>{{details.detail.desc}}</p>


      <label for="colorOptions">Colours:</label>
      <div id="colorOptions" class="mb-3">
        <button class="btn btn-secondary mr-2" (click)="selectColor('blue')">Blue</button>
        <button class="btn btn-danger" (click)="selectColor('red')">Red</button>
      </div>

      <label for="sizeOptions">Size:</label>
      <div id="sizeOptions" class="mb-3">
        <button class="btn btn-outline-secondary" (click)="selectSize('M')">M</button>
        <button class="btn btn-outline-secondary" (click)="selectSize('L')">L</button>
        <button class="btn btn-outline-secondary" (click)="selectSize('XL')">XL</button>
      </div>


      <button class="btn btn-primary">Buy Now</button>
      <div class="border mt-5">
      <div  class="p-3 d-flex">
        <i class="fa-solid fa-truck pe-3 pt-2"></i>
        <div>
          Fast Delivery
        </div>
      </div>
        <hr>
        <div class="d-flex">
          <i class="fa-solid fa-rotate-left  ps-2 pe-3 pt-2"></i>
          <div>
            <p>resume delivary</p>
            <p></p>
          </div>
    </div>


      </div>
    </div>
  </div>
</div> -->
































































<!-- <div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2>{{singleProduct?.title}}</h2>
      <p>{{singleProduct?.body}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row gy-3 mt-3">
  <h3 class="col-12"> Related posts</h3>
  <div class="col-12 col-md-6" *ngFor="let product of products" routerLink="/product/{{product.id}}">
      <div class="card">
          <div class="card-body">
              <h2>{{product?.title}}</h2>
          </div>
      </div>
  </div>
</div> -->
