.address-container {
  display: flex;
  justify-content: start;

  height: 100vh;
}

.add-address-card {
  width: 100%;
  height: 230px;
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.add-address-card:hover {
  border-color: #007bff;
}

.icon span {
  font-size: 40px;
  color: #007bff;
}

.add-address-text {
  font-size: 18px;
  margin-top: 10px;
  color:  black;
}


.address{
  min-height: 80vh;
}

.default{
  color: rgba(219, 68, 68, 1);
}

.address-actions a {
  text-decoration: none;
  margin-inline-end: 10px;
}
.address-actions a.edit {
  color: #00bfff;
}
.address-actions a.remove {
  color: rgb(85, 8, 193);
  cursor: pointer;
}

.default2{
  cursor: pointer;
}
