<!-- tamplete driven -->
<div class="container min-vh-100 mt-5 top-padding">
  <div>
    <div class="d-flex justify-content-between">
      <img src="cart.png" class="col-6 " alt="">
      <form class=" col-4 me-2" #signupForm="ngForm" (ngSubmit)="handleSubmit(signupForm)">
        <h2 class="mb-3  fw-bolder letter-space">Create an Account</h2>
        <h6 class="mb-3">Enrter your details below</h6>
        <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="user.first_name"   name="firstName" #first_name="ngModel">
        <input type="text" class="form-control" placeholder="Last Name"  [(ngModel)]="user.last_name" name="lastName" #Last_name="ngModel">


      <input type="email" class="form-control" placeholder="Email"  [(ngModel)]="user.email" name="email" #email="ngModel" required email>
      <div class="alert alert-danger" *ngIf="signupForm.submitted && email.invalid">
        <div *ngIf="email.errors?.['required']">
            email is required
        </div>
        <div *ngIf="email.errors?.['email']">
            invalid Email
        </div>
    </div>
      <input type="text" class="form-control" placeholder="Phone number"  [(ngModel)]="user.phone" name="phoneNumber" #phone="ngModel">
        <input type="password" class="form-control" placeholder="Password"  [(ngModel)]="user.password" name="password"
            #password="ngModel" required minlength="8">
        <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty  || signupForm.submitted )">
          <div *ngIf="password.errors?.['required']">
              password is required
          </div>
          <div *ngIf="password.errors?.['minlength']">
              min length is 8
          </div>

      </div>

        <input type="password" class="form-control" placeholder="Re-Enter your password"  [(ngModel)]="user.confirm_password" name="confirmPass" #confirm_password="ngModel"
        required (input)="checkPasswords(password.value, confirm_password.value)" >
        <div class="alert alert-danger" *ngIf="!passwordsMatch && confirm_password.dirty">
          The passwords you entered do not match. Please try again.
        </div>


        <button type="submit" class="login-btn form-control"  >Create an account</button>
        <div class="span">
          <span>Already have an account?</span>
          <span class="ms-3"><a href="" class=" text-dark" routerLink="/login-page">log in</a></span>
        </div>
      </form>

    </div>
  </div>

</div>
