
<div class="container">
  <div class="d-flex justify-content-between">
    <img src="../../../images/cart.jpeg" class="col-6" alt="">
    <form class=" col-4">
      <h2 class="mb-3">Create an Account</h2>
      <h6 class="mb-3">Enrter your details below</h6>
      <input type="text" class="form-control" placeholder="First Name" name="">
      <input type="text" class="form-control" placeholder="Last Name" name="">
      <input type="text" class="form-control" placeholder="Email" name="">
      <input type="text" class="form-control" placeholder="Phone number" name="">
      <input type="text" class="form-control" placeholder="Password" name="">
      <input type="text" class="form-control" placeholder="re-Enter your password" name="">
      <button type="submit" class="login-btn form-control">Create an account</button>
      <div class="span">
        <span>Already have an account?</span>
        <span class="ms-3"><a href="" class=" text-dark">log in</a></span>
      </div>
    </form>

  </div>
</div>
