
<div class="container min-vh-100 mt-5 top-padding">
  <div>
    <div class="d-flex justify-content-between">
      <img src="cart.png" class="col-6 " alt="">
      <form class=" col-4 me-2">
        <h2 class="mb-3  fw-bolder letter-space">Create an Account</h2>
        <h6 class="mb-3">Enrter your details below</h6>
        <input type="text" class="form-control" placeholder="First Name" name="">
        <input type="text" class="form-control" placeholder="Last Name" name="">
        <input type="text" class="form-control" placeholder="Email" name="">
        <input type="text" class="form-control" placeholder="Phone number" name="">
        <input type="text" class="form-control" placeholder="Password" name="">
        <input type="text" class="form-control" placeholder="Re-Enter your password" name="">
        <button type="submit" class="login-btn form-control">Create an account</button>
        <div class="span">
          <span>Already have an account?</span>
          <span class="ms-3"><a href="" class=" text-dark">log in</a></span>
        </div>
      </form>

    </div>
  </div>

</div>
