<div class="container">
  <form  class="row gy-3" #registerForm="ngForm" (ngSubmit)="handleSubmit(registerForm)">
    <div class="col-12 col-md-6">
      <input type="text" class="form-control" [(ngModel)]="model.userName" #userName="ngModel"
      placeholder="Name " name="userName" id="">
    </div>
    <div class="col-12 col-md-6">
      <input type="email" class="form-control" [(ngModel)]="model.userEmail" #userEmail="ngModel"
      placeholder="email" name="userEmail" id="" required email>
    </div>
    <div class="alert alert-danger" *ngIf="registerForm.submitted && userEmail.invalid">
            <div *ngIf="userEmail.errors?.['required']">
              the email is required
            </div>
            <div *ngIf="userEmail.errors?.['email']">
              invalid Email
            </div>
    </div>
    <div class="col-12 col-md-6">
      <input type="password" class="form-control" [(ngModel)]="model.userPassword" #userPassword="ngModel"
        placeholder="password" name="userPassword" minlength="5" pattern="^[A-Za-z]+$" id="">
    </div>
    <div class="alert alert-danger" *ngIf="userPassword.dirty && (userPassword.invalid || registerForm.submitted)">
      <!-- {{userPassword.errors| json}} -->
        <div *ngIf="userPassword.errors?.['minlength']">
                  should be more than 5
        </div>
        <div *ngIf="userPassword.errors?.['pattern']">
                  it can only have letters
        </div>
    </div>
    <div class="col-12 col-md-6">
      <button class="btn btn-primary" > register </button>
    </div>
  </form>
</div>
