<nav class="navbar navbar-expand-lg bg-body-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand fw-bolder fs-4 me-5 col-2 mt-3 ms-4" >Exclusive</a>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 mt-3 d-flex justify-content-between col-3 ">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/home" routerLinkActive="nav-style" [routerLinkActiveOptions]="{'exact': true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/contact" routerLinkActive="nav-style">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/account" routerLinkActive="nav-style">ِAccount</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="nav-style" *ngIf="!auth.isLogin" >Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ " routerLinkActive="nav-style" *ngIf="auth.isLogin" (click)="handleLogOut()">LogOut</a>
        </li>
        <li *ngIf="auth.isLogin"class="nav-item">
          <div class="d-flex">

            <p class="pt-2 ms-4">Welcome</p>
            <p class="pt-2 text-red ms-2">  {{this.global.userName}}</p>
          </div>
        </li>

      </ul>
      <form class="d-flex col-3 mt-4" role="search">
        <input class=" position-relative form-control" type="search" placeholder="What are you looking for " aria-label="Search">
        <!-- <button class="search-icon" type="submit"><i class="fa-solid fa-magnifying-glass position-absolute"></i></button> -->

      </form>
      <div class="d-flex justify-content-between col-1 mt-4 ms-4 align-content-start"  *ngIf="auth.isLogin">

        <div class="dropdown">
          <i class="fa-solid fa-user pb-3"></i>
          <ul class="dropdown-menu">
            <li><a>Manage my account</a></li>
            <li><a routerLink="/cart">my Order</a></li>
            <li><a href="#">Favourites</a></li>
            <li><a href="#"  (click)="handleLogOut()">logOut</a></li>
          </ul>

        </div>
        <i class="fa-regular fa-heart nav-item"></i>
        <i class="fa-solid fa-cart-shopping" routerLink="/cart"></i>
      </div>
    </div>
  </div>
</nav>
<hr>

