<!-- <form [formGroup]="form">
  <input type="text" placeholder="name" formControlName="customer_first_name" >
</form> -->

<form [formGroup]="testForm" (ngSubmit)="onSubmit()">
  <!-- Street input -->
  <div class="form-group">
    <label >Street</label>
    <input type="text"  class="form-control" >
  </div>

  <!-- Country Dropdown -->
  <div class="form-group">
    <label >Country</label>
    <ng-select
      [items]=""
      bindLabel="name"
      bindValue="code"
      placeholder="Select country"
      >
    </ng-select>
  </div>

  <!-- Region Dropdown -->
  <div class="form-group">
    <label for="region">Region</label>
    <ng-select
      [items]=""
      bindLabel="name"
      bindValue="code"
      placeholder="Select region"
     >
    </ng-select>
  </div>

  <!-- Other fields... -->

  <button type="submit" class="btn btn-primary">Save Address</button>
</form>

