<div class="container ">
  <div class="d-flex mt-4">
    <button class="button-red"></button>
    <span class="categories">Categories</span>
  </div>
  <h3>Browse By Category</h3>
  <div class="text-center">
    <div class="row">
      <div class="col-md-2 col-sm-4    item ">
        <i class="fa-solid fa-mobile-screen"></i>
        <p>Phones</p>
      </div>
      <div class="col-md-2  col-sm-4  item ">
        <i class="fa-solid fa-computer"></i>
        <p>Computers</p>
      </div>
      <div class="col-md-2   col-sm-4   item ">
        <i class="fa-solid fa-stopwatch-20"></i>
        <p>Smart Watches</p>
      </div>
      <div class="col-md-2   col-sm-4   item ">
        <i class="fa-solid fa-camera"></i>
        <p>Camera</p>
      </div>
      <div class="col-md-2  col-sm-4   item ">
        <i class="fa-solid fa-headphones "></i>
        <p>Head Phones</p>
      </div>
      <div class="col-md-2   col-sm-4   item  ">
        <i class="fa-solid fa-gamepad"></i>
        <p>Gaming</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-4    item ">
        <i class="fa-solid fa-mobile-screen"></i>
        <p>Phones</p>
      </div>
      <div class="col-md-2  col-sm-4  item ">
        <i class="fa-solid fa-computer"></i>
        <p>Computers</p>
      </div>
      <div class="col-md-2   col-sm-4   item ">
        <i class="fa-solid fa-stopwatch-20"></i>
        <p>Smart Watches</p>
      </div>
      <div class="col-md-2   col-sm-4   item ">
        <i class="fa-solid fa-camera"></i>
        <p>Camera</p>
      </div>
      <div class="col-md-2  col-sm-4   item ">
        <i class="fa-solid fa-headphones "></i>
        <p>Head Phones</p>
      </div>
      <div class="col-md-2   col-sm-4   item  ">
        <i class="fa-solid fa-gamepad"></i>
        <p>Gaming</p>
      </div>
    </div>
  </div>


<div class="section d-flex justify-content-between  ">
  <div class="col ">
    <div class="icon-margin">
      <div class="I">
        <div class="i">
          <i class="fa-solid fa-van-shuttle"></i>
        </div>
    </div>
    </div>
  <div class="mt-4 font-b ">FREE AND FAST DELIVERY</div>
  <div class="mt-3">Free Delivery for all orders over $140</div>
  </div>

  <div class="col">

  <div class="icon-margin">
    <div class="I">
      <div class="i">
        <i class="fa-solid fa-headset  me-1"></i>
      </div>
    </div>
  </div>
<div class=" mt-4 font-b">24/7 customer Services</div>
<div class="mt-3"> Friendly 24/7 customer support</div>
  </div>


  <div class="col ">
    <div class="icon-margin">
      <div class="I">
        <div class="i">
          <i class="fa-solid fa-circle-check  me-1  "></i>
        </div>
      </div>
    </div>
    <div class="mt-4 font-b" >Money Back Gurantee</div>
    <div class="mt-3">we reurn monet within 30 days</div>
  </div>
</div>


</div>
