<div class="cart-container">
  <h2>Cart</h2>
  <div class="cart-items">
    <div class="product-list">
      <div class="product-item">
        <span>LCD Monitor</span>
        <span>$650</span>

        <p>Quantity:</p>
      <div class="quantity-selector">
        <button (click)="decreaseQuantity()" class="border border border-0">-</button>
        <input type="text" [(ngModel)]="quantity">
        <button (click)="increaseQuantity()" class="border border border-0" >+</button>
      </div>

        <span>$650</span>
      </div>

    </div>

    <!-- <app-product-list></app-product-list> -->

  </div>
  <div class="d-flex justify-content-between mt-5 btn ">
    <button class="button" routerLink="/home"> Return to shop</button>
    <button  class="button">Update Cart</button>
  </div>

  <div class="coupon-section">
    <input type="text" placeholder="Enter coupon code">
    <button>Apply Coupon</button>
  </div>

  <div class="cart-total">
    <p>Subtotal: $1250</p>
    <p>Shipping: $50</p>
    <p>Total: $1300</p>
    <button>Proceed to Checkout</button>
  </div>
</div>

