<footer class="footer-container ">
  <div class="footer-content">
    <div class="footer-section text-start">
      <h4  class="fw-bolder mb-3">Exclusive</h4>

      <h6 class="mb-3">subscribe</h6>
      <h6 class="mb-3">Get 10% off your first order</h6>
      <form action="">
        <input type="search" placeholder="Enter yout Email " class=" border bg-black border-white border-3 p-2">
        <button><i class="fa-solid fa-right-from-bracket"></i></button>
      </form>
    </div>


    <div class="footer-section text-start">
      <h4 class="fw-bolder mb-3">support</h4>
    <h6 class="mb-3">111 Maadi, Cairo Egypt</h6>
    <h6 class="mb-3">exclusive &#64; gmail.com</h6>
    <h6 class="mb-3">+888015-88888-9999</h6>

    </div>


    <div class="footer-section text-start">
      <h4  class="fw-bolder mb-3">Account</h4>
      <ul>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Login / Register</a></li>
        <li><a href="#">Cart</a></li>
        <li><a href="#">whishlist</a></li>
        <li><a href="#">shop</a></li>
      </ul>
    </div>

    <div class="footer-section text-start">
      <h4  class="fw-bolder mb-3">Quick Link</h4>
      <ul>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a hr="#">FAQ</a></li>
        <li><a href="#"> Contact</a></li>
      </ul>
    </div>

    <div class="footer-section text-start">
      <h4  class="fw-bolder mb-3">Download App</h4>
      <h6 class="mb-4">Save &#36;3 with App New User Only</h6>

      <div class="d-flex mb-3">
        <div>
              <img src="Qrcode 1.svg" alt="" class="me-4">
        </div>

        <div>
          <img src="appstore.svg" alt="" class="d-block mb-2">
          <img src="googleplay.svg" alt="">
        </div>
      </div>

      <ul class="social-icons d-flex justify-content-between ">
        <li class="fw-bolder fs-4"><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li class="fw-bolder fs-4" ><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="fw-bolder fs-4"><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="fw-bolder fs-4"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p >&copy; 2024 copyright Rimel 2024. All rights reserved.</p>
  </div>
</footer>

